@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https: //use.typekit.net/igm8ala.css');

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}